contracts/cache
contracts/artifacts
contracts/dist
contracts/node_modules
contracts/package-lock.json
contracts/package.json
contracts/tsconfig.json
contracts/tsconfig.buildinfo
contracts/tsconfig.buildinfo.lock
contracts/tsconfig.buildinfo.lock.lock
contracts/tsconfig.buildinfo.lock.lock.lock
contracts/tsconfig.buildinfo.lock.lock.lock.lock